.resume {
  background: $white-color;
  padding: 4rem 0;
  font-family: "Poppins", sans-serif;

  &-content {
    display: flex;
    // position: relative;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    &-title {
      //   padding-bottom: 4rem;
      color: $blue-color;
      font-size: 1.2rem;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      text-align: center;
      
    }

    &-img {
      background: url("../assets/resume.png");
      height: 10rem;
      width: 10rem;
      background-size: cover;
      padding: 0.5rem;
      width: -webkit-fill-available;
      max-width: 36rem;
      right: -100%;
      margin: auto;
    }
    .full {
      transition: all 0.5s ease-in-out;
      background-size: contain;
      position: fixed;
      z-index: 999;
      height: 90vh;
      left: 0;
      right: 0;
      top: 5%;
      background-repeat: no-repeat;
      margin: auto;

      i {
        display: flex;
        justify-content: flex-end;
      }
    }

    &-button {
      display: flex;
      gap: 2rem;
      justify-content: center;

      a {
        padding: 1rem;
        background: $primary-color;
        border-radius: 20px;
        color: $bg-primary;
        text-decoration: none;
        font-weight: 700;

        &:hover {
          opacity: 0.8;
        }
      }

    }
    @media (min-width: 55rem) {
        &-button{
            justify-content: flex-start;
        }
        &-title{
            width: 100%;
            text-align: left;
        }
        flex-direction: row;
    }
  }
  .modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
  }
}
