$primary-color: var(--primary-color);
$blue-color: var(--blue-color);
$bg-color: var(--bg-color);
$white-color: var(--white-color);
$dark-grey: var(--dark-grey);
$box-shadow: var(--box-shadow);
$bg-primary:#fff;
$border-color:var(--bor);

:root {
  --primary-color: #2d2e32;
  --blue-color: #147efb;
  --bg-color: #f9f9f9;
  --white-color: #fff;
  --dark-grey: #767676;
  --box-shadow: rgba(0, 0, 0, 0.09);
  --bor:#f1f1f1;
}
